<div class="header">
    <h1>Profile</h1>
    <div class="mb-3">
        <label for="fullName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="UserName">
    </div>
    <div class="mb-3">
        <label for="mail" class="form-label">Email:</label>
        <input type="text" class="form-control" id="name" formControlName="mail">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" formControlName="Password">
    </div><br><br>

    <div>
        <button type="button" class="btn" >
            cancel
        </button>

        <button type="button" class="btn1">
            Create
        </button>
    </div>